/* Universal Styling */

html {
    text-align: center;
    background-color: hsl(60, 100%, 95%);
}

/* Header Styling */

header {
    display: block;
    margin: 0%;
    width: auto;
    height: 30em;
    background-image: url("zinnia_yellow_red.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5em; 
    font-family: Pangolin, "sans serif";
}


header ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    left: 37%;
    z-index: 1;
}

header ul li {
    padding: 1em;
    display: inline-block;
    border: 0.1em solid black;
    background-color:hsl(61, 97%, 50%);
    border-radius: 0.4em;
    font-weight: bold;
}

h1 {
    background-color:hsla(61, 97%, 50%, 0.9);
    margin: 10% 30%;
    border-radius: 10px;
    border: 2px solid black;
    padding: 20px;
    position: relative;
    top: 30%;
}

/* About Us Section Styling */
#about {
    display: block;
    width: 80%;
    height: 30em;
    position: relative;
    top: 5em;
    left: 10%;
    background-color: hsl(60, 48%, 56%);
}

#about img {
    float: left; 
    margin: -1em 3em 0em 2em;
    padding-bottom: 1em;
    border: 1em;
}

#about .path {
    float: right;
    margin: -1em 2em 0em 3em;
    padding-bottom: 1em;
}

h2 {
    font-family: Pangolin, "sans serif";
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    padding-top: 1em;
    letter-spacing: 0.2em;
}

#about p {
    text-align: left;
    font-family: Garamond, serif;
    font-size: 1.8em;
    padding: 0em 2em 2em 2em;
    font-weight: bold;
    line-height: 1.4em;
}

/* Events Section Styling */
#events {
    position: relative;
    top: 15em;
    left: 5%; 
    width: 90%;
    height: auto;
    border: 0.2em solid hsl(121, 64%, 47%);
    background-color: white; 
}
#events h2 {
    font-style: normal;
    text-decoration: underline;
}

.events {
    position: relative; 
    top: 2em;
    left: 0;
    text-align: left;
    font-size: 1.4em;
    height: auto;
    border: 0.2em solid hsl(121, 64%, 47%);
    margin: 0em 6em 4em;
    background-image: radial-gradient(hsl(61, 97%, 50%), hsl(121, 50%, 50%));
    padding-right: 2em;
}   

.date {
    margin-left: 5%;
    font-weight: bold;
}

span {
    margin-left: 25%;
    font-weight: bold;
}

.description {
    margin-left: 15%;
    font-style: italic;
}

.events li {
    list-style-type: none;
    letter-spacing: 0.1em;
}

/* Location Section Styling */

#location {
    position: relative;
    top: 20em;
    left: 0; 
    height: 15em;
    background-color: hsl(61, 53%, 57%);
    
}

.location {
    background-color: white;
    padding: 0.5em 1em;
    font-size: 1.2em;
    font-family: Pangolin, "sans serif";
}

/* Contact Section Styling */

#contact {
    position: relative;
    top: 25em;
    left: 0; 
    height: auto;
    background-image: url("flowersCropped.jpg");
    border: 0.3em solid black;
    padding-bottom: 3em;
    padding-top: 1em;
}
.contact-info {
    width: 50%;
    margin-top: 2%;
    margin-left: 25%;
    border: 0.2em solid hsl(121, 51%, 18%);
    background-color: hsla(60, 26%, 95%, 0.7);
    border-radius: 0.4em;
}
.contact-title {
    text-decoration: underline overline;
    text-transform: uppercase;
    
}
.contact-modes ul {
    height: 10em;
    width: 90%;
    margin-left: 3%;
    text-align: left;
    list-style-type: hidden;
}
.contact-modes li {
    text-align: left;
    line-height: 2.2em;
    font-size: 1.2em;
    font-weight: bold;
}

/* Media Queries */

@media only screen and (max-width: 1450px) {
    /* for screen sizes less than 1450px */

    #about p {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 1200px) {
    /* for screen sizes less than 1200px */

    #about p {
        font-size: 1.2em;
    }
    header ul {
        left: 30%;
    }
}

@media only screen and (max-width: 960px) {
    /* for screen sizes less than 960px */

    #about {
        height: 35em;
    }
    #about p {
        font-size: 1.2em;
    }
    header ul {
        left: 25%;
    }
}

@media only screen and (max-width: 840px) {
    /* for screen sizes less than 840px */

    #about {
        height: 40em;
    }
    #about .path {
        float: left;
        margin-top: 1em;
    }
    #about p {
        font-size: 1.2em;
    }
    header ul {
        left: 25%;
    }
    .contact-modes li {
        line-height: 1.5em;
    }
}

@media only screen and (max-width: 750px) {
    /* for screen sizes less than 750px */

    #about {
        height: 50em;
    }
    #about .path {
        float: left;
        margin-top: 1em;
    }
    #about p {
        font-size: 1.2em;
    }
    header ul {
        left: 15%;
    }
    .contact-modes li {
        line-height: 1.2em;
    }
}

@media only screen and (max-width: 610px) {
    /* for screen sizes less than 610px */

    #about {
        height: 60em;
    }
    #about .path {
        float: left;
        margin-top: 1em;
    }
    #about p {
        font-size: 1em;
    }
    header ul {
        left: 0%;
    }
    .events {
        width: 75%;
        margin-left: 3.5%;
    }
    .location {
        font-size: 1em;
    }
    #contact {
        height: 11em;
    }
    .contact-info {
        width: 75%;
        margin-left: 10%;
        height: 10em;
    }
    .contact-title {
        font-size: 1.3em;
        padding-top: 0;
    }
    .contact-modes li {
        line-height: 1em;
        font-size: 1em;
    }
}

@media only screen and (max-width: 500px) {
    /* for screen sizes less than 500px */

    #about {
        height: 60em;
    }
    #about .path {
        float: left;
        margin-top: 1em;
    }
    #about p {
        font-size: 1em;
    }
    header ul {
        left: 0%;
    }
    h1 {
        margin: 5%;
    }
    h2 {
        font-size: 1.2em;
    }
    .events {
        width: 75%;
        margin-left: 2.5%;
        font-size: 1em;
    }
    .location {
        font-size: 1em;
    }
    #contact {
        height: 10em;
    }
    .contact-info {
        width: 90%;
        margin-left: 5%;
        height: 10em;
    }
    .contact-title {
        font-size: 1.2em;
        padding-top: 0;
    }
    .contact-modes li {
        line-height: 1em;
        font-size: 1em;
    }
}

@media only screen and (max-width: 380px) {
    /* for screen sizes less than 380px */

    #about {
        height: 60em;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #about .path {
        float: left;
        margin-top: 1em;
        padding: 0;
    }
    #about p {
        font-size: 1em;
    }
    header ul {
        left: 0%;
    }
    h1 {
        margin: 5%;
    }
    h2 {
        font-size: 1.2em;
    }
    #events {
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
    .events {
        width: 80%;
        margin-left: 0;
        font-size: 1em;
    }
    .location {
        font-size: 1em;
    }
    #contact {
        height: 10em;
    }
    .contact-info {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        height: 10em;
    }
    .contact-title {
        font-size: 1.2em;
        padding: 0;
        margin: 0;
    }
    .contact-modes li {
        line-height: 1em;
        font-size: 1em;
        padding: 0;
        margin: 0;
    }
}