/* Universal Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 80%;
    margin: auto;
    font-size: 16px;
    text-align: center;
    margin-left: 10%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    text-align: center;
    margin: auto;
    border: 0.2rem solid hsl(1, 96%, 10%); 
}


/* Header Styling */

#header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color: white;
    background-color: hsl(1, 98%, 62%);
    height: 10rem;
    border: 0.25rem solid hsl(1, 96%, 10%);
    min-width: 20%;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

#header h1 {
    font-family: Ubuntu, "sans serif";
    font-size: 2.25rem;
    font-weight: 500;
    text-align: center;
    margin-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: 0.25rem;
    flex: 0 3 50%;
}

#header h2 {
    font-family: Ubuntu, "sans serif";
    font-size: 1.9rem;
    font-weight: 300;
    text-align: center;
    margin-left: 0.5rem;
    font-style: italic;
    flex: 0 3 50%;
}

.nav  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    position: fixed;
    top: 0;
    left: 17%;
    width: 71.75%;
    min-width: 20%;
}
 
ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;    
}

li {
    border: 0.1rem solid hsl(1, 96%, 10%);
    border-radius: 1rem;
    box-shadow: 0.23rem 0.33rem 0.33rem hsl(1, 96%, 10%);
    background-color: hsl(1, 100%, 49%);
    color: white;
    padding: 0.5rem 1rem;
    margin-right: 4rem;
    font-family: Ubuntu, "sans serif";
    font-size: 1.2rem;
    list-style: none;
    flex-shrink: 5;
}

li:visited {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: hsl(1, 100%, 49%);
    background-color: white;
    padding: 0.5rem 2rem;
}

li:active {
    box-shadow: none;
}



/* Introduction Styling */

main {
    width: 100%;
    height: 30rem;
    border: 0.1rem solid hsl(1, 96%, 10%);
    background-image: url("./flamingo 1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 6rem;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: 3% 8% 5% 8%; 
    height: 70%;
    border: 0.25rem solid hsl(1, 100%, 49%);
    background-color: hsl(1, 95%, 99%);
    border-radius: 0.7rem;
    box-shadow: 0.7rem 1.25rem 1.25rem hsl(1, 96%, 10%);
    animation-name: ellipse;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    padding-top: 2rem;
}


@keyframes ellipse {
    0% {border-radius: 10%;}
    100% {border-radius: 50%;}
}

.intro p {
    align-self: center;
    flex: 0 3 80%;
    height: 80%;
    width: 80%;
    margin: auto;
    font-style: italic;
    font-family: Georgia, serif;
    font-size: 1rem;
    font-weight: bold;
    color: hsl(1, 96%, 10%);
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

@keyframes largest {
    0% {font-size: 1rem;}
    100% {font-size: 1.5rem;}
}

.intro-1 {
    text-align: center;
    letter-spacing: 0.5rem;
    text-decoration: underline;
    animation-name: largest;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.intro-2 {
    text-align: center;
    letter-spacing: 0.2rem;
    padding-bottom: 0.1rem;
}

.intro-3 {
    text-align: center;
    letter-spacing: 0.2rem;
    padding-bottom: 0.1rem;
}

.intro-4 {
    text-align: center;
    letter-spacing: 0.2rem;
}

.counter {
    text-align: right;
    color: gray;
}

/* Projects Styling */

#projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    margin-bottom: 3rem;
    padding-bottom: 4rem;
    background-image: linear-gradient(to bottom, hsl(1, 96%, 10%) 0%, white 100%);

}

#projects h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: Ubuntu, "sans serif";
    font-weight: bold;
    font-size: 2rem;
    padding: 0.7rem 0.7rem;
    margin: 3rem 0.7rem 0.7rem;
    color: hsl(1, 96%, 10%);
    background-color: white;
    border: 0.2rem solid black;
    border-radius: 0.7rem;
}

#projects img {
    height: 225px;
    width: 200px;
    border: 0.28rem solid hsl(1, 80%, 90%);
    box-shadow: 1rem;
    border-radius: 0.7rem;
    min-width: 100px;
    
}

img:hover {
    filter: saturate(3);
}

img:active {
    filter: grayscale(5); 
}



.photo-1, .photo-2, .photo-3 {
    background-color: white;
    padding: 2rem;
    width: 30%;
    box-shadow: 0.4rem 0.4rem 0.4rem black;
    border: 0.2rem solid hsl(1, 100%, 49%);
    border-radius: 0.7rem;
    min-width: 120px;
    margin-top: 2rem;
}

figcaption {
    font-family: "Source Code Pro", "sans serif";
    color: hsl(1, 96%, 10%);
    font-weight: bold;
}

/* Skillset Styling */

#skills {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: auto;
    border: 0.1rem solid hsl(1, 96%, 10%);
    margin-bottom: 12rem;
    background-color:hsla(1, 96%, 10%, 0.2);
    
}

#skills h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Source Code Pro", monospace;
    background-color: hsla(1, 98%, 62%);
    font-weight: bold;
    font-size: 2rem;
    padding: 0.7rem 0.7rem;
    margin: 2rem 0rem;
    color: hsl(1, 96%, 10%);
    
}

#skills h2 {
    margin-bottom: 1rem;
    font-family: Ubuntu, "sans serif";
    padding-top: 0.5rem;
    font-style: italic;
    letter-spacing: 0.2rem;
    color: hsl(1, 96%, 10%);
}

#skills h3, p {
    text-align: left;
    padding: 0rem 2.5rem;
    line-height: 1.5;
    color: hsl(1, 96%, 10%);
}

#skills h3 {
    text-decoration: underline;
    font-family: Ubuntu, "sans serif";
}

.skillset {
    width: 100%;
    border: 0.1rem solid hsl(1, 96%, 10%);
    background-color:hsla(1, 98%, 62%, 0.5);
    margin-bottom: 3rem;
    padding: 1rem;
}

.education {
    width: 100%;
    height: auto;
    border: 0.1rem solid hsl(1, 96%, 10%);
    background-color: hsla(1, 98%, 62%, 0.5); 
    padding-bottom: 1rem;
}
 .education p {
    font-style: italic;
    line-height: 1.2;
 }

details {
    text-align: left;
    padding-left: 5rem;
}

/* Contact Styling */

#contact {
    width: 80%; 
    overflow: hidden; 
    position: fixed;
    bottom: 0;
    min-width: 20%; 
    color: white;
    background-color: hsl(1, 98%, 62%);
    border: 0.2rem solid hsl(1, 96%, 10%);
    padding-bottom: 2rem;
}

.contact-word h1 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-family: Georgia, serif;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1rem;
    letter-spacing: 0.1rem;
    margin-left: 20%;
    flex-shrink: 2;
}

.contact-modes p {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 1.2rem;
    word-break: break-all;
    font-family: "Source Code Pro", monospace;
    margin-right: 20%;
    flex-shrink: 1;
}

/* Media Queries */

@media only screen and (max-width: 379px) {

    /* ruleset for screen sizes less than 380px */
   
    .nav  {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        position: fixed;
        top: 0;
        left: 10%;
        width: 50%;
        min-width: 10%;
    }
    
    li {
        align-self: flex-start;
        font-size: 1rem;
        padding: 0.2rem;
        margin-right: 0.5rem;
        
    }

    .intro {
        margin-top: 20%;
    }

    .intro-4 {
        display: none;
    }

    .photo-1, .photo-2, .photo-3 {
        padding: 0.5rem;
    }

    #contact {
        width: 50%;
         
        min-width: 10%; 
    }

    .contact-word h1 {
        display: none;
    }

    .contact-modes p {
        justify-content: flex-start;
        font-size: 1rem;
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (min-width: 380px) and (max-width: 480px) {

    /* ruleset for screens 380px to 480px */

    li {
        font-size: 1rem;
        padding: 0.2rem;
        margin-right: 0.5rem;
    }

    .intro {
        margin-top: 20%;
    }

    .intro-4 {
        display: none;
    }

    .photo-1, .photo-2, .photo-3 {
        padding: 0.5rem;
    }

    .contact-word h1 {
        display: none;
    }

    .contact-modes p {
        justify-content: center;
        font-size: 1rem;
        margin-right: 0%;
        margin-left: 0%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
    
    /* ruleset for screen sizes 481px to 600px */

    .intro {
        margin-top: 15%;
    }

    li {
        /* padding: 0.2rem; */
        margin-right: 0.8rem;
        font-size: 0.9rem;
    }

    .intro-4 {
        display: none;
    }

    .photo-1, .photo-2, .photo-3 {
        padding: 0.5rem;
    }

    .contact-word h1 {
        margin-left: 35%;
        font-size: 1.4rem;
    }

    .contact-modes p {
        justify-content: center;
        font-size: 1rem;
        margin-left: 0%;
        margin-right: 0%;
    }

}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    
    /* ruleset for screen sizes 601px to 768px */

    .intro {
        margin-top: 12%;
    }

    li {
        padding: 0.5rem 1rem; 
        margin-right: 1.8rem;
        font-size: 1.2rem;
    }


    .photo-1, .photo-2, .photo-3 {
        padding: 0.5rem;
    }

    .contact-word h1 {
        margin-left: 35%;
        font-size: 1.4rem;
    }

    .contact-modes p {
        justify-content: center;
        font-size: 1rem;
        margin-left: 0%;
        margin-right: 0%;
    }

}