html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex: column wrap;
    width: 100vh;
    height: auto;
    justify-content: flex-start;
    align-items: center;
}

section {
    position: relative;
    top: 20px;
    left: 0;
    border: 0.2em solid  hsl(320, 78%, 7%);
    border-radius: 0.5em;
    justify-content: center;
    align-items: center;
    margin-left: 0%;
    background-color: hsl(320, 6%, 81%);
}

h1 {
    text-align: center;
    font-size: 2em;
}

fieldset {
    position: relative;
    top: 10px;
    width: 90%;
    height: auto;
    
}

.ftitle {
    font-size: 1.5em; 
}

.ltitle {
    font-size: 1.5em;
    padding-right: 0.1em;
}


.etitle {
    font-size: 1.5em;
    padding-right: 2em;
}

.button {
    padding: 1em 5em;
    height: auto;  
}

.send {
    box-shadow: 0.5em 0.5em 0.5em hsl(140, 49%, 19%);
    padding: 1em 1.8em;
    font-size: 1.2em;
    font-weight: bold;
}

.send:active {
    box-shadow: 0em 0em 0em;
}


input, textarea {
    border: 0.2em solid hsl(320, 73%, 15%);
    border-radius: 1em;
    line-height: 1.5em;
    padding-left: 1em;
}